<!DOCTYPE html>
<html lang="en-gb">

<head>
  <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="~/font-awesome/css/all.css" rel="stylesheet" />
  <link href="~/StyleSheet.css" rel="stylesheet" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Web App</title>
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" asp-action="Index"><img src="~/img/bitlclogo.png" width="175" /></a>
      <div>
        <a class="nav-link FontColor" asp-action="ShowTickets"><i class="fa fa-ticket"></i> Tickets</a>
      </div>
      <div>
        <a class="nav-link text-white FontColor" asp-controller="admin" asp-action="home">Definately Not Admin Area</a>
      </div>
    </nav>
  </header>
  <main>
    @RenderBody()
  </main>
  <footer>
    <div class="container text-center">
      <p>&copy; 2023 ByteMe Ticketsystem. All rights reserved.</p>
    </div>
  </footer>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
