<div class="container p-4 col-3 text-start justify-content-center">
  <h1>Error 410 - Gone</h1>
  This might be because:
  <ul>
    <li>They betrayed us! They took him from us!</li>
  </ul>
  Please try the following options instead:
  <ul>
    <li>Search for another (better, faster, more secure) Dozent</li>
    <li>Look for him in his garden</li>
  </ul>
  <hr>
  <h3>Vielen Dank Herr Selig!</h3>
  <div><img src="~/img/R.png" /></div>
</div>